<div class="col">
  <div class="row m-3">
    <form #f="ngForm">
    <div class="col-md-8 p-0">
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Code" aria-label="Username" name="re" #r="ngModel" ngModel aria-describedby="addon-wrapping">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search" (click)="recherche(r.control.value)"></i></span>
        </div><br>
      
      </div>
      <div style="color: red;" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <h1>Mouvements du stock</h1>
    </div></form>
    <div class="col-md-4 p-0 text-right">
      <app-boutton-action
      [isImporterVisible]="false"
      [isNouveauVisible]="false"
      [liste]="liste"
      ></app-boutton-action>
    </div>
  </div>
  <div class="col">
    <div  class="accordion" id="mvtStkDetails">
      <div class="card">
        <div >
         
            <app-detail-mvt-stk-article [articleDto]="articleDto" [qq]="quant"  ></app-detail-mvt-stk-article>
          
        </div>
      
      </div>
      <!-- +++++++++++++ -->
      
      <div class="row mb-3">
        <div class=" col-md-12 text-center">
          <app-pagination></app-pagination>
        </div>
      </div>
</div>
